/* media libraty popup start */
.modalMediaLibrary {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.media-content {
    background-color: #fefefe;
    margin: 5% 3%;
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-media {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-media:hover,
.close-media:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.media-image {
    display: inline-block;
    border: #3c8dbc solid;
    border-radius: 5px;
    margin: 3px 15px;
    width: auto;
}

.media-image img {
    max-height: 250px;
    width: auto;
    padding: 15px 5px;
}
.media-image:hover {
    border: 3px solid #3c8dbc;
    background-color: #3c8dbc;
}

.box-img img{
    /*width: 350px;*/
    height: auto;
}

.inner-media {
    padding-bottom: 25px;
}

.media-loadmore {
    font-size: 18px;
    font-weight: 700;
    color: green;
    cursor: pointer;
    margin: auto;
    width: 150px;
}
/* media libraty popup end */

.admin_user_image {
    width: auto;
    height: 150px;
}

.single-image {
    width: 100%;
}

.single-image img {
    width: 60%;
    height: auto;
}

#filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.image-upload-form {
    width: 350px;
    padding: 15px 40px;
    align-items: stretch;
    background-color: white;
    border: 2px solid rgba(60, 141, 188, 0.8);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.image-upload-form label {
    background-color: white;
    padding: 3px;
    margin-bottom: 15px;
    border: 2px solid rgba(60, 141, 188, 0.8);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.image-upload-form input {
    margin-top: 15px;
    background-color: white;
    margin-bottom: 7px;
    border: 2px solid rgba(60, 141, 188, 0.8);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

#img_list ul {
    list-style-type: none;
}

#img_list li {
    padding-bottom: 2px;
    font-size: 14px;
}


.logout .pull-right .btn.btn-danger{
    margin-top: 8px;
    margin-right: 5px;
}

.main-sidebar{
    position: fixed;
}
.main-header{
    position: fixed;
    width: 100%;
}